/* Id top selector */
#top {
background-color: #33ff88;
margin-top: 15px;
padding-top: 10px;
border: 2px solid grey;
width: 1000px;
margin-left: auto;
margin-right: auto;
}

fieldset{
    margin-top: 4px;
    background-color: #8f8e6e;
}

/* Type selector */
legend{
    color: #d46622;
    background-color: #ccadbe;
    border: 1px solid #72072e;
    padding: 3px;
    font-weight: bold;
}

table{
    width: 80pc;
    margin: 4px;
    padding: 4px;
}

td{
    padding: 2px;
}

/* Class required selector */
.required{
    color: #ffa600;
}

#top p{
    padding-left: 8px;
   
}
/* Attribute Selector */
input[type ="text"] {
color: red;
}

/* Universal Attribute */
* td {
    color: green;
}
/* Menu CSS */

.menu{
    display: flex;
}

.menu a {
 margin-right: 5rem;
}
.homebuttom:hover,
a[ href="#Products"]:hover,
a[href="#Contact"]:hover,
a[href="aboutme.html"]:hover{
background-color: rgb(209, 206, 206);
}

a[href="currency.php"]:hover,
a[class="service2"]:hover,
a[class="frenchtranslation"]:hover,
a[class="service2"]:hover{
    background-color: grey;
}

#messageHour{
    color: red;
    font-weight: bold;
    float: right;
}

.dropdown-content{
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}